<div class="container">
  <p id="notice"><%= notice %></p>
  <table class="table table-striped">
    <tr><td>Order Num:</td><td><%= @lineitem.order.id %></td></tr>
    <tr><td>Shopify Product:</td><td><%= @lineitem.shopify_product_id %></td></tr>
    <tr><td>Variant Id:</td><td><%= @lineitem.variant_id %></td></tr>
    <tr><td>Order qty:</td><td><%= @lineitem.order_qty %></td></tr>
    <tr><td>Remain qty:</td><td><%= @lineitem.remain_qty %></td></tr>
    <tr><td>Total:</td><td><%= @lineitem.total %></td></tr>
    <tr><td>Sku:</td><td><%= @lineitem.sku %></td></tr>
  </table>

  <%= link_to 'Edit', edit_lineitem_path(@lineitem) %> |
  <%= link_to 'Back', lineitems_path %>
</div>
