<head>
  <title>ShopifyWebhooks</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<div class="container">

  <p id="notice"><%= notice %></p>

  <h1>Invoice For Order #<%= @order.id %></h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Order</th>
        <th>Shopify Product Id</th>
        <th>Variant Id</th>
        <th>Order qty</th>
        <th>Remain qty</th>
        <th>Sku</th>
        <th>Total</th>
      </tr>
    </thead>

    <tbody>
      <% @lineitems.each do |lineitem| %>
        <tr>
          <td><%= lineitem.order.id %></td>
          <td><%= lineitem.shopify_product_id %></td>
          <td><%= lineitem.variant_id %></td>
          <td><%= lineitem.order_qty %></td>
          <td><%= lineitem.remain_qty %></td>
          <td><%= lineitem.sku %></td>
          <td><%= lineitem.total %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <table class="table">
    <thead>
      <tr>
        <th class="no-visible">Order</th>
        <th class="no-visible">Shopify Product Id</th>
        <th class="no-visible">Variant Id</th>
        <th class="no-visible">Order qty</th>
        <th class="no-visible">Remain qty</th>
        <th class="no-visible">Sku</th>
        <th class="no-border">Sub Total: <%= line_item_subtotal(@lineitems) %></th>
      </tr>
    </thead>
    <tbody class="no-visible">
      <tr>
        <td>Order</td>
        <td>4342401368098</td>
        <td>31162877476898</td>
        <td>30</td>
        <td>13</td>
        <td>16581503</td>
        <td>Total</td>
      </tr>
    </tbody>
  </table>
</div>
<style type="text/css">
  .no-visible{
    visibility: hidden;
  }
  .no-border{
    border-bottom: none !important;
    border-top: none !important;
  }
</style>
