<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Orders</h1>
  <%#= link_to 'New Order', new_order_path, class: "btn btn-primary", style: 'float: right;margin-bottom: 10px;'%>

  <form action="/orders">
    <div class="form-group">
      <input type="text" name="query" value="<%= params[:query] %>" class='form-control col-6' placeholder="Search using product or variant id">
    </div>
  </form>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Order Id</th>
        <th>Order Name</th>
        <th>Order qty</th>
        <th>Order Total</th>
        <th>Status</th>
        <th>Created at</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <%# count = 0 %>
      <%# date = "" %>
      <% @sorted_orders.each do |order, val| %>
        <% count = 0 %>
        <% val.each do |order| %>
          <tr>
            <td><%= count += 1 %></td>
            <td><%= order.label %></td>
            <td><%= order.order_qty %></td>
            <td><%= order.total %></td>
            <td><%= order.status %></td>
            <td><%= order.created_at.strftime('%d/%m/%Y, %I:%M:%S:%p') %></td>
            <td><%#= link_to 'Edit', edit_order_path(order) %></td>
              <td>
                <%= link_to 'Detail', order_path(order, order_id: count) %>
              </td>
              <% if current_user.role == "admin" %>
                <td>
                  <%= link_to 'Delete', order, method: :delete, data: { confirm: 'Are you sure?' } %>
                </td>
              <% end %>
                <% if order.status === 'Processed' %>
                  <td>
                    <%= link_to 'Cancel', cancel_order_path(id: order.id), data: { confirm: 'Are you sure?' } %>
                  </td>
                <% end %>
              </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <div class="pagination-index">
    <%= will_paginate @orders %>
  </div>
</div>

<style type="text/css">
  .pagination-index .pagination{
    justify-content: center !important;
  }
</style>
