<div class="container">
  <p id="notice"><%= notice %></p>
  <h1>Invoice Orders</h1>
  <%#= link_to 'New Order', new_order_path, class: "btn btn-primary", style: 'float: right;margin-bottom: 10px;'%>
  <form action="/invoice_order_list">
    <div class="form-group">
      <input type="text" name="query" value="<%= params[:query] %>" class='form-control col-6' placeholder="Search using product or variant id">
    </div>
  </form>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Order Id</th>
        <th>Order Name</th>
        <th>Order qty</th>
        <th>Order Total</th>
        <th>Payment</th>
        <th>Status</th>
        <th>Created at</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <%# count = 0 %>
      <%# date = "" %>
      <% @invoice_sorted_orders.each do |order, val| %>
        <% count = val.count + 1 %>
        <% val.each_with_index do |order, index| %>
          <% if order.reserve_status == false && ( order.paidtype == "Invoice Cash" || order.paidtype == "Invoice Card" )  %>
          <tr>
            <td><%= count -=  1 %></td>
            <td><%= order.label %></td>
            <td><%= order.order_qty %></td>
            <td><%= order.total %></td>
            <%if order.paidtype.present?%>
              <td><%= order.paidtype %></td>
            <%else%>
              <td></td>
            <%end%>
            <td><%= order.status %></td>
            <td><%= order.created_at.strftime('%d/%m/%Y, %I:%M:%S:%p') %></td>
            <%if order.status == "Processed" %>
              <td><%= link_to 'Edit', edit_order_path(order)%></td>
            <%else%>
              <td></td>
            <%end%>
              <td>
                <%= link_to 'Detail', order_path(order, order_id: count) %>
              </td>
              <td>
                <%= link_to 'download', "/file/#{order.id}" if has_file? order.id %>
              </td>
              <% if current_user.role == "admin" && order.status == "Canceled" %>
                <td>
                  <%= link_to 'Delete', order, method: :delete, data: { confirm: 'Are you sure you want to delete order?' } %>
                </td>
              <%else%>
                <td></td>
              <% end %>
                <% if order.status === 'Processed' %>
                  <td>
                    <%= link_to 'Cancel', cancel_order_path(id: order.id), data: { confirm: 'Are you sure you want to cancel order?' } %>
                  </td>
                <% end %>
              </td>
          <%# </tr> %>
          <%end%>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <div class="pagination-index">
    <%= will_paginate @invoice_orders %>
  </div>
</div>

<style type="text/css">
  .pagination-index .pagination{
    justify-content: center !important;
  }
</style>
