<p id="notice"><%= notice %></p>

<p>
  <strong>Variant:</strong>
  <%= @order.variant_id %>
</p>

<p>
  <strong>Product:</strong>
  <%= @order.product_id %>
</p>

<p>
  <strong>Order qty:</strong>
  <%= @order.order_qty %>
</p>

<p>
  <strong>Remain qty:</strong>
  <%= @order.remain_qty %>
</p>

<p>
  <strong>Total:</strong>
  <%= @order.total %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
