<header>
  <div class="logo-div">
    <img src="https://cdn.shopify.com/s/files/1/0253/5895/8626/files/Asset_2_3x_8a6bfbce-2f59-47d3-a992-223d7df03be3.png?5572" alt="logo" style="width:200px;">
  </div>
  <div class="address-invoice">
    Noor Moden GmBh & co. KG
    <br/>
    Breslauer Str. 8 41460 Neuss
    <br/>
    Tel. 02131.202527 Fax. 02131.202529
    <br/>
    E-Mail: info@noor-moden.com
    <br/>
    http://www.noor-moden.com 
  </div>
</header>

<div class="container">

  <p id="notice"><%= notice %></p>

  <h1>Lineitems</h1>
  <a href="/print_order?id=<%=params[:id] %>" class="btn btn-primary">Print Order</a>
  <br/>
  <br/>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Order</th>
        <th>Shopify Product Id</th>
        <th>Variant Id</th>
        <th>Order qty</th>
        <th>Remain qty</th>
        <th>Sku</th>
        <th>Total</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @lineitems.each do |lineitem| %>
        <tr>
          <td><%= lineitem.order.id %></td>
          <td><%= lineitem.shopify_product_id %></td>
          <td><%= lineitem.variant_id %></td>
          <td><%= lineitem.order_qty %></td>
          <td><%= lineitem.remain_qty %></td>
          <td><%= lineitem.sku %></td>
          <td><%= lineitem.total %></td>
          <!-- <td><%#= link_to 'Show', lineitem %></td> -->
          <td><%= link_to 'Edit', edit_lineitem_path(lineitem) %></td>
          <td><%= link_to 'Destroy', lineitem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <table class="table">
    <thead>
      <tr>
        <th class="no-visible">Order</th>
        <th class="no-visible">Shopify Product Id</th>
        <th class="no-visible">Variant Id</th>
        <th class="no-visible">Order qty</th>
        <th class="no-visible">Remain qty</th>
        <th class="no-visible">Sku</th>
        <th class="no-border">Sub Total: <%= line_item_subtotal(@lineitems) %></th>
        <th class="no-visible">edit</th>
        <th class="no-visible">destroy</th>
      </tr>
    </thead>
    <tbody class="no-visible">
      <tr>
        <td>Order</td>
        <td>4342401368098</td>
        <td>31162877476898</td>
        <td>30</td>
        <td>13</td>
        <td>16581503</td>
        <td>Total</td>
        <td>Edit</td>
        <td>Destroy</td>
      </tr>
    </tbody>
  </table>

  <%#= link_to 'Edit', edit_order_path(@order) %> 
  <%= link_to 'Back', orders_path %>
</div>
<footer>
  <div class="footer-invoice-text">Reklamationen richten Sie bitte nur schriftlich mit einer Rechnungskopie und unverzuglich an unsere Firma. Refullungsort und Gerichtsstand ist Neuss. Die Ware bleibt bis zur restlosen Bezahlung unser Eigentum. </div>
</footer>
<style type="text/css">
  .no-visible{
    visibility: hidden;
  }
  .no-border{
    border-bottom: none !important;
    border-top: none !important;
    font-weight: 600;
  }


header {
  width: 100%;
  height: 150px;
  background: #222;
}

a {
  text-decoration: none;
}


.logo-div {
  float: left;
  line-height: 75px;
  color: #FFF;
  margin-left: 20px;
  margin-top: 15px;
}

.address-invoice {
  width: 25%;
  height: 40px;
  float: right;
  margin-right: 20px;
  color: #FFF;
  line-height: 24px;
  font-size: 12px;
  margin-top: 15px;
}


footer {
  width: 100%;
  height: 100px;
  background: #222;
}

.footer-invoice-text {
  color: white;
  padding-top: 28px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}

</style>
