<!-- <header>
  <div class="logo-div">
    <img src="https://cdn.shopify.com/s/files/1/0253/5895/8626/files/Asset_2_3x_8a6bfbce-2f59-47d3-a992-223d7df03be3.png?5572" alt="logo" style="width:200px;">
  </div>
  <div class="address-invoice">
    Noor Moden GmBh & co. KG
    <br/>
    Breslauer Str. 8 41460 Neuss
    <br/>
    Tel. 02131.202527 Fax. 02131.202529
    <br/>
    E-Mail: info@noor-moden.com
    <br/>
    http://www.noor-moden.com 
  </div>
</header> -->

<div class="container">

  <p id="notice"><%= notice %></p>
  <% if @order.paidtype != "Cash" %>
    <a href="/print_order?id=<%=params[:id] %>&real_order_id=<%= params[:order_id]%>" class="btn btn-primary">Print Invoice</a>
    <%# <a href="" class="btn btn-primary">Edit Invoice</a> %>
    <span><%= link_to 'Edit Invoice' , edit_order_path , class: "btn btn-primary disabled" %></span>
  <%else%>
    <a href="/print_order?id=<%=params[:id] %>&real_order_id=<%= params[:order_id]%>" class="btn btn-primary">Print Order</a>
  <%end%>
  <br/>
  <br/>

<div class="invoice_no">
<div style="float: left;font-size: 20px;">Lieferschein No: <%= params[:order_id] %></div>
<div style="float: right;font-size: 20px;">Lieferdatum: <%= @order.created_at.strftime("%d/%m/%Y") %></div>
<p style="clear: both;font-weight: 700;">Bitte kontrollieren Sie die berechnete Menge sofort. Spätere Mengenreklamationen können nicht anerkannt werden.</p>
</div>

<table class="table table-bordered">
    <thead>
      <tr>
        <th style="text-align: center;">Pos</th>
        <th style="text-align: center;" colspan="2">Menge</th>
        <th style="text-align: center;">SKU</th>
        <th style="text-align: center;">Einzelpreis EUR</th>
        <th style="text-align: center;">Gesamtpreis EUR</th>
      </tr>
    </thead>
    <tbody>
      <% @lineitems.each_with_index do |lineitem, index| %>
        <tr>
          <td style="text-align: right;"><%= index + 1 %></td>
          <td style="text-align: right;"><%= lineitem.order_qty %></td>
          <td style="text-align: right;"></td>
          <td style="text-align: right;"><%= lineitem.sku %></td>
          <td style="text-align: right;"><%= lineitem.price %></td>
          <td style="text-align: right;"><%= lineitem.price * lineitem.order_qty %></td>
        </tr>
      <% end %>
      <tr>
        <td>Gesamt Menge</td>
        <td style="text-align: right;"><b><%= @lineitems.collect {|qty| qty.order_qty}.sum %></b></td>
        <td colspan="5" style=""></td>
      </tr>
      <tr>
        <td colspan="5" style="">Gesamt Netto (Ohne Mehrwertsteuer)</td>
        <td style="text-align: right;"><%= net_total(@lineitems) %></td>
      </tr>
<!--       <tr>
        <td colspan="5" style="text-align: right;">Zuzüglich 19% MwSt.</td>
        <td style="text-align: right;"><%= net_total_tax(@lineitems) %></td>
      </tr>
      <tr>
        <td colspan="5" style="">Gesamtbetrag</td>
        <td style="text-align: right;"><%= net_total_after_tax(@lineitems) %></td>
      </tr> -->
    
    </tbody>
</table>

  <%#= link_to 'Edit', edit_order_path(@order) %>
  <% if @order.paidtype != "Cash" %> 
    <%= link_to 'Back', invoice_order_list_path %>
  <%else%>
    <%= link_to 'Back', orders_path %>
  <%end%>
</div>
<!-- <footer>
  <div class="footer-invoice-text">Reklamationen richten Sie bitte nur schriftlich mit einer Rechnungskopie und unverzuglich an unsere Firma. Refullungsort und Gerichtsstand ist Neuss. Die Ware bleibt bis zur restlosen Bezahlung unser Eigentum. </div>
</footer> -->

<style type="text/css">

  .no-visible{
    visibility: hidden;
  }
  .no-border{
    border-bottom: none !important;
    border-top: none !important;
    font-weight: 600;
  }


header {
  width: 100%;
  height: 150px;
  background: #222;
}

a {
  text-decoration: none;
}


.logo-div {
  float: left;
  line-height: 75px;
  color: #FFF;
  margin-left: 20px;
  margin-top: 15px;
}

.address-invoice {
  width: 25%;
  height: 40px;
  float: right;
  margin-right: 20px;
  color: #FFF;
  line-height: 24px;
  font-size: 12px;
  margin-top: 15px;
}


footer {
  width: 100%;
  height: 100px;
  background: #222;
}

.footer-invoice-text {
  color: white;
  padding-top: 28px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}

</style>
