<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Products</h1>
  <%= link_to 'New Product', new_product_path, class: "btn btn-primary", style: 'float: right;margin-bottom: 10px;' %>
  <%= link_to 'Export Products', export_products_path, class: "btn btn-primary", style: 'float: right;margin-bottom: 10px;margin-right: 2px;' %>
  <button class="btn btn-primary import-btn" style='float: right;margin-bottom: 10px;margin-right: 2px;'>Import Products</button>
  
  <!-- <%= form_tag import_products_path, multipart: true do %>
    <%= file_field_tag :file, required: true %>
    <%= submit_tag "Import" %>
  <% end %> -->

  <div id="importProductsModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <span class="modal-title">Import Products</span>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <%= form_tag import_products_path, multipart: true do %>
            <div class="modal-body">
                <div class="flex field">
                  <label>Excel Spreadsheet</label>
                  <%= file_field_tag :file, class: 'file-filed', required: true %>
                </div>
              </div>
              <div class="modal-footer">
                <button class="btn btn-primary import-btn" type="submit">Import</button>
              </div>
          <% end %>
        </div>
      </div>
    </div>

  <form action="/products">
    <div class="form-group">
      <input type="text" name="query" value="<%= params[:query] %>" class='form-control col-6' placeholder="Search using product or variant id">
    </div>
  </form>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>SKU</th>
        <th>Shopify product Id</th>
        <th>Shopify Variant Id</th>
        <th>Inventory</th>
        <th>Barcode</th>
        <th>Price</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.model_number %></td>
          <td><%= product.shopify_product_id %></td>
          <td><%= product.variant_id %></td>
          <td><%= product.inventory %></td>
          <td>
            <%= product.barcode.to_s.html_safe %>
            <br/>
            <span>000<%= product.id %></span>
          </td>
          <td><%= product.price %></td>
          <td><%= link_to 'Show', product %></td>
          <td><%= link_to 'Edit', edit_product_path(product) %></td>
          <% if current_user.role == "admin" %>
            <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="pagination-index">
    <%= will_paginate @products %>
  </div>

</div>
<style type="text/css">
  .pagination-index .pagination{
    justify-content: center !important;
  }
  #notice {
    position: absolute;
    top: 6em;
    width: 100%;
    right: 0;
    left: 0;
  }
</style>

<script>
  setTimeout(function() {
    $('#notice').fadeOut('fast');
  }, 3000);

  $('.import-btn').click(function(){
    $('#importProductsModal').modal('show');
  });

</script>
