<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Products</h1>
  <div class="row">
    <div class="col-4">
      <%= link_to 'Export Products', export_products_path, data: { confirm: "Are you sure?" }, class: "btn btn-primary", style: 'margin-bottom: 10px;' %>
      <button class="btn btn-primary import-btn" style='margin-bottom: 10px;margin-left: 2px;'>Import
        Products</button>
    </div>
  
    <div class="col-3">
      <form action="/products">
        <div class="form-group">
          <input id="search-autocomplete" type="text" name="query" value="<%= params[:query] %>" class='form-control'
            placeholder="Search using product or variant id">
        </div>
      </form>
    </div>
    <div class="col-5 flex-div">
      <div class="select-div-wrapper">
        <form action="/change_sync" method="post"  class="sync-btn-form">
          <label>Syncing</label>
          <%= select_tag :is_syncing, options_for_select(syncing_options, @syncing_status), onchange: 'this.form.submit()', class: 'select-options form-control btn-primary' %>
        </form>
      </div>
      <div class="select-div-wrapper">
        <form action="<%= products_path %>">
          <%= select_tag :sort_by, options_for_select(sorting_options, params[:sort_by]), onchange: 'this.form.submit()', class: 'select-options form-control btn-primary' %>
        </form>
      </div>
      <div>
        <%= link_to 'New Product', new_product_path, class: "btn btn-primary", style: 'margin-bottom: 10px;' %>
      </div>
    </div>
  </div>

  

  
  <table class="table table-striped">
    <thead>
      <tr>
        <th>SKU</th>
        <th>Shopify product Id</th>
        <th>Shopify Variant Id</th>
        <th>Inventory</th>
        <th>Barcode</th>
        <th>Price</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @products.each do |product| %>
      <tr>
        <td><%= product.model_number %></td>
        <td><%= product.shopify_product_id %></td>
        <td><%= product.variant_id %></td>
        <td><%= product.inventory %></td>
        <td>
          <%= product.barcode.to_s.html_safe %>
          <br />
          <span>000<%= product.id %></span>
        </td>
        <td><%= product.price %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <% if current_user.role == "admin" %>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>

  <div class="pagination-index">
    <%= will_paginate @products %>
  </div>

  <%= render 'import_products' %>

</div>
<style type="text/css">
  .pagination-index .pagination {
    justify-content: center !important;
  }

  #notice {
    position: absolute;
    top: 6em;
    width: 100%;
    right: 0;
    left: 0;
  }

  .select-div-wrapper {
    margin-right: 5px;
  }

  .flex-div {
    display: flex;
    justify-content: flex-end;
  }

  .sync-btn-form{
      display: inline-flex;
      align-items: center;
  }

  .select-options{
      display: inline-block;
  }

  .ui-autocomplete  {
    height: max-content;
    max-height: 50vh;
    overflow-y: scroll;
  }
  .select-div-wrapper label {
    margin-right: 5px;
  }
</style>

<script>
  $(document).ready(function () {

    $('#search-autocomplete').autocomplete({
      source: '/suggestions'
    })

    setTimeout(function () {
      $('#notice').fadeOut('fast');
    }, 3000);

    $('.import-btn').click(function () {
      $('#importProductsModal').modal('show');
    });

    $('#mySelect').on('change', function() {
      var value = $(this).val();
      alert(value);
    });
  })

</script>