<!DOCTYPE html>
<html>
  <head>
    <title>ShopifyWebhooks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
  </head>

  <body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <!-- Brand/logo -->
      <a class="navbar-brand" href="/">
        <%= image_tag "logo.png", style: "width:70px;", alt: "logo" %>
      </a>
      
      <!-- Links -->
      <ul class="navbar-nav">
        <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to('Products', products_path, class: "nav-link") %>
        </li>
        <li class="nav-item">
          <%= link_to('Orders', orders_path, class: "nav-link") %>
        </li> 
        <li class="nav-item">
          <%= link_to('Invoice Orders', invoice_order_list_path, class: "nav-link") %>
        </li>
        <li class="nav-item">
          <%= link_to('Reservations', reservations_path, class: "nav-link") %>
        </li>
        <li class="nav-item">
          <a href="/products/start_scanning" class="nav-link">Start Scanning</a>
        </li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav ml-auto">
        <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "nav-link") %>                </li>
        <% else %>
        <li class="nav-item">
          <%= link_to('Login', new_user_session_path, class: "nav-link") %>  
        </li>
        <% end %>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
